    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Buy This Damn Book</h2>
                    <p>I wrote it--now you buy it.  That's the arrangement here
folks.  Lets make one thing real clear I don't need any of you.</p>
                    <a href="" class="btn btn-default btn-lg">Amazon</a>
                    <a href="" class="btn btn-default btn-lg">Kindle</a>
                    <a href="" class="btn btn-default btn-lg">iBooks</a>
                </div>
            </div>
        </div>
    </section>
