    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">{{ site.title }}</h1>
                        <p>{{ site.description }}</p>
                        <a href="http://www.amazon.com/author/cfviceconte" class="btn btn-default btn-lg">Amazon</a>
                        <a href="http://www.amazon.com/dp/B071W82366" class="btn btn-default btn-lg">Kindle</a>
                        <a href="https://itun.es/us/sr8gkb.l" class="btn btn-default btn-lg">iBooks</a><br><br>
                        <a href="#contact" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
